.campaigns-body {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    /* margin: 0 auto; */
}

.campaign-card {
    display: flex;
    padding: 1rem;
    border: 1px solid black;
}

.create-new {
    height: 150px !important;
    width: 150px !important;
    font-size: 1.5rem;
}