.campaigns-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: 10vw;
    margin-right: 10vw;

}

.campaign-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border: 1rem solid black;
    border-radius: 50px;
    background-color: rgb(111, 204, 153);
}

.campaign-card {
    display: flex;
    padding: 1rem;
    border: 1px solid black;
}

.create-new {
    height: 150px !important;
    width: 150px !important;
    font-size: 1.5rem;
}